<article class="speakerslist jumbotron d-none d-sm-block">
  <div class="container">
    <div class="row">

      <% topspeakers.forEach(function(speaker) { %>
      <%- include('./topspeaker', { speaker }); %>
      <%})%>
    </div>
  </div>
</article>